@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Quicksand';
}

a {
    text-decoration: none;
}

.home-text {
    font-size: 4vw;
    letter-spacing: 10px;
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Quicksand';
    font-weight: lighter;
}


.break-down {
    display: inline;
    color: rgb(173, 173, 173);
}

.grey {
    color: rgb(197, 197, 197);
}
      
@media (max-width: 1000px) { 
    .break-down {
        display: none;
    }
    .home-text {
        font-size: 50px;
    }
}

.alt-text {
    font-size: smaller;
}

.bg {
    position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1;

}

.sections {
    width: 100%;
    height: 100ch;
    position: relative;
    top: 85vh;

    width: 100vw;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
  }